
# --- 模板 ---

# --- 1. DeepSeek API 配置 ---
DEEPSEEK_API_KEY=
DEEPSEEK_BASE_URL=


# --- 2. 智谱AI (GLM) API 配置 ---
ZHIPU_API_KEY=
ZHIPU_BASE_URL=

# --- 可以有自定义的供应商 API --- 

# --- 3. 项目通用配置 ---
PROJECT_NAME="AI_Go_LLM"
ACTIVE_MODEL="deepseek"   # 未来可以通过改这个词，决定代码用哪个模型

# --- 4. Katago 路径 ---
KATAGO_PATH=/path/to/katago
KATAGO_MODEL=/path/to/model.bin.gz
KATAGO_CONFIG=/path/to/gtp.cfg
# ----- 数据路径 -----
# 棋谱数据集存放目录
DATA_DIR=./data/sgf
# 输出结果存放目录
OUTPUT_DIR=./output