
# --- 模板 ---

# --- 1. DeepSeek API 配置 ---
DEEPSEEK_API_KEY=
DEEPSEEK_BASE_URL=


# --- 2. 智谱AI (GLM) API 配置 ---
ZHIPU_API_KEY=
ZHIPU_BASE_URL=

# --- 可以有自定义的供应商 API --- 

# --- 3. 项目通用配置 ---
PROJECT_NAME="AI_Go_LLM"
ACTIVE_MODEL="deepseek"   # 未来可以通过改这个词，决定代码用哪个模型